[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "==3.11.1"
django-environ = "*"
psycopg2 = "*"
channels = "*"
channels-redis = "==2.4.2"


[requires]
python_version = "3"
