{% extends 'chat/app_base.html' %}
{% load static %}

{% block content %}

 <div class="chat-wrapper">
   <div class="messaging">
      <div class="inbox_msg">

        <div class="mesgs">
          <div class="msg_history">
            <div class="dummy">

            </div>

          </div>
          <div class="type_msg">
            <div class="input_msg_write">
              <input type="text" id='chat-message-input' required class="write_msg" placeholder="Type a message" />
              <button class="msg_send_btn" id ='chat-message-submit' type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
 </div>
{% endblock %}


{% block js %}
{{ request.user.username|json_script:"user_username" }}
<script type="text/javascript" src="{% static "js/sockets.js" %}"></script>

<script>



    let cursor_next_url = null
    let waitingFromAPI = false

    // get the messeges from API
    async function loadMessages(url){
      console.log(url);
      waitingFromAPI = true;
      if (url){
        let response = await fetch(url);
        const myJson = await response.json();
        cursor_next_url = myJson.next
        waitingFromAPI = false;

        return myJson.results

      }else {
        return []
      }

    }

    //appends a bunch of messages to DOM
    function appendMessagesToDOM(messages){
      for (var i = 0; i < messages.length ; i++) {
        if (messages[i].sender === current_user) {
          addOutgoingMsg(messages[i])
        } else {
          addIncomingMsg(messages[i])
        }
      }
      document.querySelector(".msg_history").childNodes[9].scrollIntoView()
    }



     loadMessages('http://127.0.0.1:8000/api/messages/').then(res  => {

        appendMessagesToDOM(res)
     }).catch(err => {
       console.log(err);
     })
     //

     //document.querySelector('.msg_history').lastChild.previousSibling.scrollIntoView(false);
     let history = document.querySelector('.msg_history')

     //load new messges on scroll
     history.addEventListener('scroll', (el) => {
       if(history.scrollTop  < 5 && !waitingFromAPI){
         loadMessages(cursor_next_url).then(res  => {

            appendMessagesToDOM(res)
         }).catch(err => {
           console.log(err);
         })
       }

     })


  
 </script>
{% endblock %}
